.bg-tomato {
    background-color: tomato;
}

.bg-blue {
    background-color: dodgerblue;
}

.bg-pink {
    background-color: lightcoral;
}

.bg-green {
    background-color: rgb(110, 165, 84);
}

.bg-violet {
    background-color: violet;
}

.bg-gold {
    background-color: rgb(216, 173, 65);
}

.bg-brown {
    background-color: chocolate;
}

.bg-white {
    background-color: white;
}

.bg-smoke {
    background-color: whitesmoke;
}

.bg-black {
    background-color: #232323;
}

.bg-light-gray {
    background-color: rgb(176, 176, 197);
}

.bg-dark-gray {
    background-color: #747081;
}