.nav {
    z-index: 10000;
    background: transparent;
    /* width: 150px; */
    padding: 8px;
    top: 0;
    margin-bottom: 5px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
}

.nav-item {
    width: 150px;
    font-size: 20px;
    text-align: center;
    padding: 12px 35px;
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    height: 50px;
    text-decoration: none;
    display: inline-flex;
}

.nav .tomato:hover {
    box-shadow: 0px 5px 6px 0px rgba(245, 112, 89, 0.24);
}

.nav .blue:hover {
    box-shadow: 0px 5px 6px 0px rgba(92, 168, 230, 0.24);
}

.nav .pink:hover {
    box-shadow: 0px 5px 6px 0px rgba(245, 107, 89, 0.24);
}

.nav .green:hover {
    box-shadow: 0px 5px 6px 0px rgba(82, 235, 77, 0.24);
}

.nav .violet:hover {
    box-shadow: 0px 5px 6px 0px rgba(238, 130, 238, 0.377);
}

.nav .violet {
    width: 180px;
}