.box1 {
    background-color: deeppink;
}

.box2 {
    background-color: rgb(252, 97, 180);
}

.box3 {
    background-color: rgb(252, 129, 195);
}

.box4 {
    background-color: rgb(250, 168, 212);
}

.box5 {
    background-color: rgb(253, 216, 236);
}